body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #3b8beb;
  color: #ffffff;
  padding-top: 12px;
}

header a {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

 header ul {
  margin: 0;
  padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 10px 0 10px
}

header nav {
  float: right;
  margin-top: 30px;
}

header #nav_title {
  float: left;
}

header #nav_title {
  margin: 0;
}


header a:link {
  font-weight: normal;
}

header a:visited {
  font-weight: normal;
}

header li a:hover:not(.active) {
    font-weight: bold;
}

header a:active {
    font-weight: bold;
}

#upper-content {
  min-height: 400px;
  background: url('../images/image2.jpeg') no-repeat 0 -150px;
  text-align: center;
  color: #1d4575;
}

#upper-content h1 {
  margin-top: 100px;
  margin-bottom: 10px;
  float: left;
  font-size: 40px;
}

#upper-content p {
  float: left;
  padding: 0px 150px 10px 0px;
  font-size: 18px;
}

#main-content {
  margin-top: 10px;
  min-height: 300px;
  padding-top: 50px;
}

#main-content .sub-content {
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
  margin: 10px;
  float: left;
  width: 30%;
  background-color: #3b8beb;
}

#main-content .sub-content p {
  padding: 10px;
}

#main-content .sub-content .h2 {
  font-family: Arial, Helvetica;
}

#main-content .begin {
  background-color: #2f6fbc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 2px;
}

#main-content .begin:hover {
  font-weight: bold;
}

footer {
  margin-top: 40px;
  padding: 10px;
  background-color: #3b8beb;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  header nav,
  header nav li,
  header #nav_title,
  #upper-content p,
  #main-content .sub-content{
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding: 20px;
  }

  #upper-content h1 {
    margin: 30px;
  }

}
