body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #3b8beb;
  color: #ffffff;
  padding-top: 12px;
}

header a {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

 header ul {
  margin: 0;
  padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 10px 0 10px
}

header nav {
  float: right;
  margin-top: 10px;
}

header #nav_title {
  float: left;
}

header #nav_title h1 {
  font-size: 18px;
}

header #nav_title {
  margin: 0;
}


header a:link {
  font-weight: normal;
}

header a:visited {
  font-weight: normal;
}

header li a:hover:not(.active) {
    font-weight: bold;
}

header a:active {
    font-weight: bold;
}

#upper-content {
  min-height: 400px;
  background: url('../images/image2.jpeg') no-repeat 0 -150px;
  text-align: center;
  color: #1d4575;
}

#upper-content h1 {
  margin-top: 100px;
  margin-bottom: 10px;
  float: left;
  font-size: 40px;
}

#upper-content p {
  float: left;
  padding: 0px 150px 10px 0px;
  font-size: 18px;
}

#main-content {
  margin-top: 10px;
  min-height: 300px;
  padding-top: 50px;
}

#main-content .sub-content {
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
  margin: 10px;
  float: left;
  width: 30%;
  background-color: #3b8beb;
}

#main-content .sub-content p {
  padding: 10px;
}

#main-content .sub-content .h2 {
  font-family: Arial, Helvetica;
}

#main-content .begin {
  background-color: #2f6fbc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 2px;
}

#main-content .begin:hover {
  font-weight: bold;
}

footer {
  margin-top: 40px;
  padding: 10px;
  background-color: #3b8beb;
  color: #ffffff;
  text-align: center;
}

#login-form #form{
  margin-top: 10px;
  padding-top: 10px;
}

#login-form #form {
  min-width: 60%;
  padding: 10px 10px;
  margin: 20px 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background: #357dd3;
  color: #ffffff;
  min-height: 400px;
}

#login-form #form label {
  min-width: 60%;
  padding: 12px 20px;
  margin: 8px 100px;
}

#login-form #form input[type=email],
#login-form #form input[type=password],
#reset-form form input[type=email] {
    min-width: 60%;
    padding: 12px 20px;
    margin: 10px 120px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#form .login-button {
    background-color: #b23850;
    color: #ffffff;
    padding: 12px 20px;
    margin: 10px 120px;
    border: none;
    min-width: 60%;
    cursor: pointer;
}

.post-form {
  margin: 30px;
  padding: 40px;
}
#sub-button {
    background-color: #b23850;
    color: #ffffff;
    padding: 12px 20px;
    margin: 10px 120px;
    border: none;
    min-width: 40%;
    cursor: pointer;
    font-style: 16px;
}

#form #forgot {
  float: right;
  padding-right: 90px;
  padding-top: 10px;
  padding-left: 20px;
}

#forgot a {
  color: #ffffff;
  text-decoration: none;
}

#form #new_member {
  margin-top: 20px;
  padding: 10px 20px 20px 90px;
}

#new_member a {
  text-decoration: none;
  color: #ffffff;
}

#form input[type=checkbox] {
  margin-top: 10px;
}

#login-form #form h1 {
  text-align: center;
}

#signup-form #form-div {
  margin-top: 10px;
  padding-top: 10px;
}

#signup-form #form-div {
  min-width: 60%;
  padding: 10px 10px;
  margin: 20px 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background: #357dd3;
  color: #ffffff;
  min-height: 400px;
}

#form-div label {
  min-width: 60%;
  padding: 12px 20px;
  margin: 8px 100px;
}

#form-div input[type=text],
#form-div input[type=email],
#form-div input[type=password] {
    min-width: 60%;
    padding: 12px 20px;
    margin: 10px 120px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#form-div .signup-button {
    background-color: #b23850;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 20px;
    margin: 10px 120px;
    border: none;
    min-width: 60%;
    cursor: pointer;
}

.leftnav {
  float: left;
}

.leftnav ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #357dd3;
    min-height: 600px;
}


/* #leftnav ul.sidenav li {
  float: left;
} */

.leftnav ul.sidenav li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.leftnav .sidenav li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #b23850;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #357dd3;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* media queries for tablets  */
@media screen and (max-width: 1024px) {
  header nav,
  header nav li,
  header #nav_title,
  #upper-content,
  #main-content .sub-content,
  #login-form,
  #form,
  #form #forgot,
  #form #remember_me {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding: 20px;
  }

  #upper-content h1 {
    margin: 30px;
  }

  #login-form #form {
    margin: 10px;
  }



}

/* media queries for smartphones  */
@media screen and (max-width: 480px) {
  header nav,
  header nav li,
  header #nav_title,
  #upper-content p,
  #main-content .sub-content,
  #login-form,
  #form,
  #form #forgot,
  #form #remember_me{
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding: 20px;
  }

  #upper-content h1 {
    margin: 30px;
  }

  #login-form #form {
    margin: 10px;
  }


}
